{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": ".",
    "paths": {
      "#core/*": [
        "./shared/*"
      ],
      "#category/*": [
        "./category/*"
      ]
    }
  }
}